
:root {
  --color-1: #ee7f09;
  --color-2: #003967;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;
}


.text-color-1{color:var(--color-1)}
.text-color-2{color:var(--color-2)}

.bg-color-1{background-color: var(--color-1)}
.bg-color-2{background-color: var(--color-2)}

.text-black{color: var(--color-black)}
.text-white{color: var(--color-white)}
.text-red{color: var(--color-red)}

.text-theme{color: var(--color-1)}
.bg-theme{background-color: var(--color-1)}
